{% load helper_tags %}
{% with request.resolver_match.url_name as url_name %}
    <nav id="mainnav-container" class="mainnav">
        <div class="mainnav__inner">
            <div class="mainnav__top-content scrollable-content pb-5">
                <div class="mainnav__categoriy py-3">
                    {% comment %} <h6 class="mainnav__caption mt-0 fw-bold">Navigation</h6> {% endcomment %}
                    <h6 class="mainnav__caption mt-0 fw-bold">Links</h6>
                    <ul class="mainnav__menu nav flex-column">
                        <li class="nav-item">
                            <a href="{% url 'home' %}"
                               class="nav-link mininav-toggle {% if url_name == 'home' %}active{% endif %}">
                                <i class="pli-home fs-5 me-2"></i>
                                <span class="nav-label mininav-content ms-1">
                                    <span data-popper-arrow="" class="arrow"></span>
                                    首頁
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mainnav__categoriy py-3">
                    {% comment %} <h6 class="mainnav__caption mt-0 fw-bold">Navigation</h6> {% endcomment %}
                    <h6 class="mainnav__caption mt-0 fw-bold">Navigations</h6>
                    <ul class="mainnav__menu nav flex-column">
                        <li class="nav-item has-sub">
                            <a href="{% url 'announcement_home' %}"
                               class="mininav-toggle nav-link collapsed {% if url_name|is_announcement_category %}active{% endif %}">
                                <i class="pli-pencil fs-5 me-2"></i>
                                <span class="nav-label ms-1">公告欄管理</span>
                            </a>
                            <ul class="mininav-content nav collapse">
                                <li data-popper-arrow class="arrow"></li>
                                <li class="nav-item">
                                    <a href="{% url 'announcement_create' %}"
                                       class="nav-link {% if url_name == "announcement_create" %}active{% endif %}">新增公告</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'announcement_branchs_list' %}"
                                       class="nav-link {% if url_name == "announcement_branchs_list" %}active{% endif %}">總部查看公告欄</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'announcement_list' %}"
                                       class="nav-link {% if url_name == "announcement_list" %}active{% endif %}">門市查看公告欄</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-sub">
                            <a href="#"
                               class="mininav-toggle nav-link collapsed {% if url_name|is_checklist_category %}active{% endif %}">
                                <i class="pli-receipt-4 fs-5 me-2"></i>
                                <span class="nav-label ms-1">待做清單管理</span>
                            </a>
                            <ul class="mininav-content nav collapse">
                                <li data-popper-arrow class="arrow"></li>
                                <li class="nav-item">
                                    <a href="{% url 'checklist_create' %}"
                                       class="nav-link {% if url_name == 'checklist_create' %}active{% endif %}">新增待做事項</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'checklist_branchs_list' %}"
                                       class="nav-link {% if url_name == 'checklist_branchs_list' %}active{% endif %}">總部查看待做清單</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'checklist_list' %}"
                                       class="nav-link {% if url_name == 'checklist_list' %}active{% endif %}">門市查看待做清單</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'checklist_export' %}"
                                       class="nav-link {% if url_name == 'checklist_export' %}active{% endif %}">門市待做清單下載</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'checklist_temporary_export' %}"
                                       class="nav-link {% if url_name == 'checklist_temporary_export' %}active{% endif %}">門市臨時作業清單下載</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endwith %}
