{% load helper_tags %}
{% get_proper_elided_page_range paginator page_obj.number as page_range %}
<nav aria-label="navigation">
    <ul class="pagination justify-content-center mb-0">
        {% if page_obj.has_previous %}
            <li class="previous page-item">
                <a href="?{% query_transform page=page_obj.previous_page_number %}"
                   class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                    上一頁
                </a>
            </li>
        {% endif %}
        {% for i in page_range %}
            {% if page_obj.number == i %}
                <li class="active page-item">
                    <span class="page-link">{{ i }}</span>
                </li>
            {% else %}
                {% if i == paginator.ELLIPSIS %}
                    <li class="page-item page-ellipsis">
                        <span class="page-link">{{ paginator.ELLIPSIS }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?{% query_transform page=i %}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="previous page-item">
                <a href="?{% query_transform page=page_obj.next_page_number %}"
                   class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                    下一頁
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
