<div class="text-nowrap text-center">
   <a href="{% url 'announcement:update' record.uuid %}"
      class="btn btn-icon btn-sm btn-hover btn-primary"><i class="pli-pen-5 fs-5"></i></a>
   <a href="{% url 'announcement:create_from_copy' record.uuid %}"
      class="btn btn-icon btn-sm btn-hover btn-danger"><i class="pli-duplicate-layer fs-5"></i></a>
   <a href="{% url 'announcement:delete' record.uuid %}"
      class="btn btn-icon btn-sm btn-hover btn-danger"><i class="pli-trash fs-5"></i></a>
</div>
