# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# Database
*.sqlite3
migrations

# Log files
*.log

# nodejs packages
node_modules

# compiled static fiels
staticfiles

# media files

# ignore /media only
/media



# purchase files
assets/src/js/nifty
assets/src/js/nifty.js
assets/src/icons
assets/src/fonts
assets/src/scss/nifty-admin
assets/src/scss/vendors
assets/src/scss/styles.scss

# webpack bundles
assets/webpack_bundles

# webpack stats
webpack-stats.json
