{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card">
        <div class="card-body">{% crispy form form.helper %}</div>
    </div>
{% endblock content %}
{% block head %}
    {% include "includes/head/checklist_create.html" %}
{% endblock head %}
{% block header %}
    <h1 class="page-title mb-1 mt-2">新增待做事項</h1>
    <p class="lead">新增一件待做事項。</p>
{% endblock header %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">首頁</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'checklist_home' %}">待做清單管理</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">新增待做事項</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
