{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card mb-4">
        <div class="card-body">{% crispy filter.form filter.form.helper %}</div>
    </div>
    {% for group in object_list %}
        {% for branch, checklist in group.items %}
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">{{ branch }}</h4>
                    <div class="table-responsive">
                        <table class="table table-striped text-nowrap">
                            <thead>
                                <tr>
                                    <th class="w-25">種類</th>
                                    <th class="w-auto">項目</th>
                                    <th class="w-25">狀態</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for checkitem in checklist %}
                                    <tr>
                                        <td>
                                            {% if checkitem.priority == 1 %}
                                                異常提醒
                                            {% elif checkitem.priority == 2 %}
                                                臨時作業
                                            {% elif checkitem.priority == 3 %}
                                                例行事項
                                            {% endif %}
                                        </td>
                                        <td>{{ checkitem.content }}</td>
                                        <td>
                                            {% if checkitem.is_done %}
                                                <span class="badge rounded-pill bg-success">已完成</span>
                                            {% else %}
                                                <span class="badge rounded-pill bg-danger">未完成</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% empty %}
        <div class="card">
            <div class="card-body">
                <div class="h5">無符合條件的待做清單</div>
            </div>
        </div>
    {% endfor %}
    {% if page_obj and paginator.num_pages > 1 %}
        <div class="card">
            <div class="card-body">{% include "includes/paginator.html" %}</div>
        </div>
    {% endif %}
{% endblock content %}
{% block header %}
    <h1 class="page-title mb-1 mt-2">門市待做清單下載</h1>
    <p class="lead">匯出所選日期、門市或待做清單內容的表格。</p>
{% endblock header %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">首頁</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'checklist:index' %}">待做清單管理</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">門市待做清單下載</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
