{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card mb-4">
        <div class="card-body">{% crispy filter.form filter.form.helper %}</div>
    </div>
    {% regroup sorted_data by branch as grouped_checklist %}
    {% for branch, list in grouped_checklist %}
        <div class="card mb-4">
            <div class="card-body">
                <div class="h4 card-title">{{ branch }}</div>
                <div class="table-responsive">
                    <table class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th class="w-25">種類</th>
                                <th class="w-auto">項目</th>
                                <th class="w-25">狀態</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in list %}
                                <tr>
                                    <td>
                                        {% if item.template_id.priority == 1 %}
                                            異常提醒
                                        {% elif item.template_id.priority == 2 %}
                                            臨時作業
                                        {% elif item.template_id.priority == 3 %}
                                            例行事項
                                        {% endif %}
                                    </td>
                                    <td>{{ item.template_id.content }}</td>
                                    <td>
                                        {% if item.status %}
                                            <span class="badge rounded-pill bg-success">已完成</span>
                                        {% else %}
                                            <span class="badge rounded-pill bg-danger">未完成</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="card">
            <div class="card-body">
                <div class="h5">無符合條件的待做清單</div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
