{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="mb-3">事項確認進度</h4>
            <div class="progress progress-xl">
                <div class="progress-bar bg-info"
                     role="progressbar"
                     style="width: {{ progress.finished_percent|floatformat:2 }}%"
                     aria-valuenow="{{ progress.finished_percent|floatformat:2 }}"
                     aria-valuemin="0"
                     aria-valuemax="100">{{ progress.finished }} / {{ progress.count }}</div>
            </div>
        </div>
    </div>
    {% regroup checklist|dictsort:"template_id.priority" by template_id.priority as checklist %}
    {% for priority, p_list in checklist %}
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="mb-3">
                    {% if priority == 1 %}
                        異常提醒
                    {% elif priority == 2 %}
                        臨時作業
                    {% elif priority == 3 %}
                        例行事項
                    {% endif %}
                </h4>
                <div class="d-flex flex-column gap-3">
                    {% for checkbox_item in p_list %}
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   id="id-checklist-{{ checkbox_item.pk }}"
                                   {% if checkbox_item.status %}checked{% endif %}
                                   {% if not checkbox_checkable %}disabled{% endif %}>
                            <label class="form-check-label opacity-100"
                                   for="id-checklist-{{ checkbox_item.pk }}">
                                {{ checkbox_item.template_id.content }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% empty %}
        <div class="card">
            <div class="card-body">
                <div class="h5">無符合條件的待做清單</div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
{% block head %}
    {% include "includes/head/checklist_list.html" %}
{% endblock head %}
{% block header %}
    <h1 class="page-title mb-1 mt-2">門市查看待做清單</h1>
    <p class="lead">查看與目前帳號關聯的待做清單內容。</p>
{% endblock header %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">首頁</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'checklist_home' %}">待做清單管理</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">門市查看待做清單</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
