{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <p class="text-center h4 mb-5">
                    是否要刪除公告「<span class="text-danger">{{ announcement.title }}</span>」？
                </p>
            </div>
            <div class="d-flex justify-content-center gap-3">
                <button type="button"
                        onclick="window.history.back()"
                        class="btn btn-light gap-2">
                    <i class="psi-left-4 fs-5 opacity-30"></i>
                    返回上一頁
                </button>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="button"
                            onclick="$(this).closest('form').submit();"
                            class="btn btn-danger gap-2">
                        <i class="psi-trash fs-5"></i>
                        刪除
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block header %}
    <h1 class="page-title mb-1 mt-2">刪除公告</h1>
    <p class="lead">刪除一則已存在的公告。</p>
{% endblock header %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">首頁</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'announcement_home' %}">公告欄管理</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'announcement_list' %}">總部查看公告欄</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ announcement.effective_start_date }} {{ announcement.title }}
            </li>
        </ol>
    </nav>
{% endblock breadcrumb %}
