{% extends "_base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card mb-4">
        <div class="card-body">{% crispy filter.form filter.form.helper %}</div>
    </div>
    <div class="card">
        <div class="card-body">{% render_table announcement_table %}</div>
    </div>
{% endblock content %}
{% block head %}
    {% include "includes/head/announcement_list.html" %}
{% endblock head %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">首頁</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'announcement:index' %}">公告欄管理</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">門市查看公告欄</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block header %}
    <h1 class="page-title mb-1 mt-2">門市查看公告欄</h1>
    <p class="lead">查看目前帳號關聯門市的公告欄內容。</p>
{% endblock header %}
