{% extends "_base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <div class="card-title">
                        <a class="h5 btn-link" href="{% url 'announcement:create' %}">新增公告</a>
                    </div>
                    <p class="text-body-secondary">新增一則公告。</p>
                    <div class="mt-auto">
                        <a href="{% url 'announcement:create' %}" class="btn-link">顯示更多 ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <div class="card-title">
                        <a class="h5 btn-link" href="{% url 'announcement:branchs_list' %}">總部查看公告欄</a>
                    </div>
                    <p class="text-body-secondary">查看、編輯與刪除公告欄內容。</p>
                    <div class="mt-auto">
                        <a href="{% url 'announcement:branchs_list' %}" class="btn-link">顯示更多 ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <div class="card-title">
                        <a class="h5 btn-link" href="{% url 'announcement:list' %}">門市查看公告欄</a>
                    </div>
                    <p class="text-body-secondary">查看目前帳號關聯門市的公告欄內容。</p>
                    <div class="mt-auto">
                        <a href="{% url 'announcement:list' %}" class="btn-link">顯示更多 ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">首頁</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">公告欄管理</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
