{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form form.helper %}
        <div class="card">
            <div class="card-title">
                <h4 class="card-header">與公告關聯的附件</h4>
            </div>
            <div class="card-body">
                <div id="formset">{% crispy form.attachment_formset formset_helper %}</div>
            </div>
            <div class="card-footer d-flex gap-2">
                <button type="button" class="btn btn-primary" id="add_attachment">新增附件</button>
                <button type="button"
                        class="btn btn-light"
                        id="upload_attachment"
                        data-bs-toggle="modal"
                        data-bs-target="#LGModal">上傳新檔案</button>
            </div>
        </div>
    </form>
    {% comment %} djlint:off H021 {% endcomment %}
    <div class="modal fade"
         id="LGModal"
         tabindex="-1"
         aria-labelledby="LGModalLabel"
         style="display: none"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="LGModalLabel">上傳新檔案</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">{% crispy file_upload_form file_upload_form.helper %}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">上傳</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block head %}
    {% include "includes/head/announcement_edit.html" %}
{% endblock head %}
{% block header %}
    <h1 class="page-title mb-1 mt-2">新增公告</h1>
    <p class="lead">新增一則公告。</p>
{% endblock header %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">首頁</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'announcement:index' %}">公告欄管理</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">新增公告</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
