{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Create Announcement</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
{% endblock content %}
{% block head %}
    {% include "includes/head/announcement_create.html" %}
    {% include "includes/media/quill.html" %}
{% endblock head %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">首頁</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'announcement_home' %}">公告欄管理</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">新增公告</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
