{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form form.helper %}
        <div class="card">
            <div class="card-body">
                <div class="formset">
                    {{ form.attachment_formset.management_form|crispy }}
                    {% for formset_form in form.attachment_formset %}
                        {% crispy formset_form formset_form.helper %}
                    {% endfor %}
                    <div id="Announcement_attachments-empty" class="d-none ">
                        {% crispy form.attachment_formset.empty_form form.attachment_formset.empty_form.helper %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
{% block head %}
    {% include "includes/media/quill.html" %}
    {% include "includes/head/announcement_create.html" %}
{% endblock head %}
{% block header %}
    <h1 class="page-title mb-1 mt-2">新增公告</h1>
    <p class="lead">新增一則公告。</p>
{% endblock header %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">首頁</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'announcement:index' %}">公告欄管理</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">新增公告</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
