{% extends "_base.html" %}
{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">發佈對象、發佈日期</h5>
            <div class="row gx-4">
                <div class="col-6">
                    <h6 class="card-title">起始日期</h6>
                    <p class="card-text mb-3">{{ announcement.effective_start_date }}</p>
                </div>
                <div class="col-6">
                    <h6 class="card-title">結束日期</h6>
                    <p class="card-text mb-3">{{ announcement.effective_end_date }}</p>
                </div>
                <div class="col-12">
                    <h6 class="card-title">門市</h6>
                    {% for branch in announcement.branchs.all %}
                        <span class="badge bg-light text-dark">{{ branch.name }}</span>
                    {% empty %}
                        <span class="badge bg-light text-dark">所有門市</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5>公告欄內容</h5>
            <div class="d-flex flex-column gap-3">
                <div>
                    <h6 class="card-title">公告名稱</h6>
                    <p>{{ announcement.title }}</p>
                </div>
                <div>
                    <h6 class="card-title">公告內容</h6>
                    {{ announcement.content.html|safe }}
                </div>
                <div>
                    {% with announcement.attachments.all as attachments %}
                        {% if attachments %}
                            <h6>附件</h6>
                            {% for attachment in attachments %}
                                <p>
                                    <i class="pli-download-from-cloud fs-5"></i>
                                    <a href="{{ attachment.attachment.url }}"
                                       class="ms-2 btn-link text-decoration-underline"
                                       target="_blank">{{ attachment.name }}</a>
                                </p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            <a class="btn btn-primary mt-3" href="{% url 'announcement:list' %}">關閉公告</a>
        </div>
    </div>
{% endblock content %}
{% block header %}
    <h1 class="page-title mt-2">公告明細</h1>
{% endblock header %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">首頁</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'announcement:index' %}">公告欄管理</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'announcement:list' %}">總部查看公告欄</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ announcement.effective_start_date }} {{ announcement.title }}
            </li>
        </ol>
    </nav>
{% endblock breadcrumb %}
