{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="card mb-4">
        <div class="card-body">{% crispy filter.form filter.form.helper %}</div>
    </div>
    {% if filter.qs %}
        <div class="card">
            <div class="card-header d-flex">
                <a href="{% url 'branchfile:download_export_zip' %}"
                   class="ms-auto btn btn-outline-light">
                    <i class="pli-folder-download fs-5 me-2"></i> 全部下載
                </a>
            </div>
            <div class="card-body">{% render_table branchs_table %}</div>
        </div>
    {% else %}
        <div class="card">
            <div class="card-body">
                <p class="h4">請選擇至少一個門市。</p>
            </div>
        </div>
    {% endif %}
{% endblock content %}
{% block head %}
    {% include "includes/head/announcement_create.html" %}
{% endblock head %}
{% block header %}
    <h1 class="page-title mb-1 mt-2">總部查看門市上傳檔案</h1>
    <p class="lead">根據門市、申報年月查看門市上傳的所有檔案。</p>
{% endblock header %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">首頁</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'branchfile:home' %}">上傳檔案</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">總部查看門市上傳檔案</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
