{% load static %}
<script src="https://cdn.jsdelivr.net/npm/quill-image-compress@1.2.21/dist/quill.imageCompressor.min.js"></script>
<!-- quill-resize -->
<script src="https://cdn.jsdelivr.net/npm/@botom/quill-resize-module@2.0.0/dist/quill-resize-module.min.js"></script>
<!-- Custom -->
<link rel="stylesheet" href="{% static 'django_quill/django_quill.css' %}">
{% comment %} override default django_quill.js {% endcomment %}
{% comment %} <script src="{% static 'django_quill/django_quill.js' %}"></script> {% endcomment %}
<script src="{% static 'js/quill/django_quill.js' %}"></script>
